
<h1>Welcome to our Character generator</h1>

<h2>Please select from the options below</h2>

<%= form_for :characters do |f| %>
   <p>Name:</p>
   <div class = "center"><%= f.text_field :name %><br></div>
   <p>Background:</p>
   <div class = "center2"><%= f.text_area :background, size: "60x12" %><br></div>
  <div class = "center"><%= f.submit "Create" %></div>
  
<% end %>

