
<h2>Please select from the options below</h2>
<form action="" method="post">
Name:<br>
<input type="text" name="name"><br>
Background:<br>
<input type="text" name="background"><br>
Race:
  <select name="Race">
  <option value="dwarf">Dwarf</option>
  <option value="halfling">Halfling</option>
  <option value="human">Human</option>
  <option value="dragonborn">Dragonborn</option>
  <option value="gnome">Gnome</option>
  <option value="halfElf">Half-elf</option>
  <option value="halfOrc">Half-Orc</option>
  <option value="tiefling">Tiefling</option>
</select><br>
  
  Class:
  <select name="Class">
   <option value="Barbarian">Barbarian</option>
   <option value="Bard">Bard</option>
   <option value="Cleric">Cleric</option>
   <option value="Druid">Druid</option>
   <option value="Fighter">Fighter</option>
   <option value="Monk">Monk</option>
   <option value="Paladin">Paladin</option>
   <option value="Ranger">Ranger</option>
   <option value="Rouge">Rouge</option>
   <option value="Sorcerer">Sorcerer</option>
   <option value="Warlock">Warlock</option>
   <option value="Wizard">Wizard</option>
   </select><br>
Gender:
 <input type="radio" name="gender" value="male" checked> Male
  <input type="radio" name="gender" value="female"> Female
  <input type="radio" name="gender" value="other"> Other<br>
   <input type="submit" value="Generate">
</form>

