// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body
{
    background-color: grey;
}

h1 {
    color: #971B2F;
    text-align: center;
    font-family: "Impact";
}

h2 {
    text-align: center;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #971B2F;
    border: none;
    color: black;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

p{
    text-align: center;
}

.center{
    margin: auto;
    width: 10%;
}

.center2{
    margin: auto;
    width: 30%;
}